.challengeBoxContainer {
  height: 100%;

  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.challengeNotActive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challengeNotActive strong {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
}

.challengeNotActive p {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4;
  max-width: 70%;
  margin-top: 3rem;
}

.challengeNotActive p img {
  margin-bottom: 1rem;
}

.challengeActive {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.challengeActive header {
  color: var(--blue);
  font-weight: 600;
  font-size: 1.25rem;
  padding: 1.5rem 2rem 1.5rem;
  border-bottom: 1px solid var(--gray-line);
  margin: 0 2rem;
}

.challengeActive main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.challengeActive main strong {
  font-weight: 600;
  font-size: 2rem;
  color: var(--title);
  margin: 1.5rem 0 1rem;
}

.challengeActive main p {
  line-height: 1.5;
  padding: 0 1.5rem;
}

.challengeActive footer {
  margin: 0;
  display: flex;
  position: relative;
  bottom: 0;
}

.challengeActive footer button {
  height: 4rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--gray-line);

  font-size: 1rem;
  font-weight: 600;

  transition: background-color 0.2s;
}

.challengeActive footer .challengeFailedButton:hover {
  background-color: var(--red);
  color: var(--white);
  border: 0;
}

.challengeActive footer .challengeSucceededButton:hover {
  background-color: var(--green);
  color: var(--white);
  border: 0;
}

.challengeActive footer .challengeFailedButton {
  background-color: #FFF5F5;
  color: var(--red);
  border-bottom-left-radius: 5px;
}

.challengeActive footer .challengeSucceededButton {
  background-color: #F7FFF5;
  color: var(--green);
  border-bottom-right-radius: 5px;
}

