.container{
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container main {
  width: 70%;
  padding: 1.5rem 2.5rem;
}

.container main h1 {
  color: var(--title);
  font-size: 2.5rem;
}

.leaderboardContainer {
  margin-top: 2rem;
}

.leaderboardContainer .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.leaderboardContainer .header > div span {
  margin-right: 3rem;
}